.header{
    display: flex;
      justify-content: space-between;
      padding-left: 20px;
    padding-right: 20px;
      align-items: center;
      cursor: pointer;
      margin-top: 0px;
    margin-bottom: 10px;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
  }
  .portfolio-link, .title{
    /* color: #fefeff; */
    font-weight: bold;
  }

  .portfolio-link{
   color: #000000;
  }

  .title-style{
    color: #000000;
    text-decoration: none;
}
  
@media (min-width: 320px) and (max-width: 767px){
  .header{
    flex-direction: column;
    justify-content: space-evenly;
  }
}