
  span {
    margin-left: 16px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    top:80px;
    left:0;
    height: 100%;
     overflow-x: hidden;
   
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a:focus {
    background-color: #2a79b0;
    color: white;
  }

  .sidebar a:hover {
    background-color: #555;
    color: white;
  }
  
  .content {
    margin-left: 200px;
    margin-top: 80px;
    padding: 10px 10px;
    font-size:28px;
   
  }

  @media only screen and (max-width:699px){
    .products{
      height: 80vh;
    }
    .products-name{
      margin-left: 0px;
    }
    
    .sidebar{
      width: 100%;
      text-align: center;
      float: none;
      position: relative;
      height: auto;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
  
  }

  

  
  
  
  