.description-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;   
}

.read-journal{
    border: 0;
    background: none;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.added-date{
    text-align: right
}
.description-text{
    margin-bottom: 10px;
    line-height: 1.6;
}
.date-color{
    color: #333;
}

@media (min-width: 320px) and (max-width: 767px){
    .added-date{
        text-align: left;
    }
    .description-container{
        text-align: left;
    }
    .description-text{
        margin-top: 10px;
    }
  }